
  

       
<div class="p-2 bg-dark" style="width: 100%;">
  
    <div   style="color: white ; font-size: 30px;">Car Rental</div>
    <li class="border-top my-3"></li>

 

    <div class="alert alert-secondary"  routerLink="/cars" role="alert" style="font-size: 15px;">
      All Cars
    </div>
    
    <div class="alert alert-secondary"  routerLink="/rentals" role="alert" style="font-size: 15px;" >
      All Rentals
    </div>
    <div class="alert alert-secondary"  routerLink="/customers" role="alert" style="font-size: 15px;">
      All Customers
    </div>

    <li class="border-top my-2 "></li>
<app-brand></app-brand>
<li class="border-top my-2 "></li>
<app-color></app-color>    
  


   

  