
<table class="table table-secondary table-striped">
    <thead>
        <tr>
         
            <th>CustomerId</th>
            <th>Customer Name&Surname</th>
            
            <th>Company Name</th>
            <th> Findex Score</th>
            
        </tr>
    </thead>
    
    <tr *ngFor="let customer of customers">
       
       <td>{{customer.customerId}}</td>
        <td>{{customer.customerFirstName+" "+customer.customerLastName}}</td>
        
        <td>{{customer.companyName}}</td>
        <td>{{customer.findexScore}}</td>
       
    </tr>
</table>
