<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-size: 67px; color: white;">CarRental</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/brands">Markalar</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/colors">Renkler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/cars">Tüm Araçlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/customers">Tüm Müşteriler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/rentals">Tüm Kiralamalar</a>
          </li>
        </ul>
        
            <button *ngIf="userCheck()==false"  type="button"class="w-100 btn btn-lg btn-warning" routerLink="/register" style="margin-left: 60px; width: 10px; height: 50px;">
              Kaydol
             </button>
         
         
            <button  *ngIf="userCheck()==false" class="w-100 btn btn-lg btn-success" routerLink="/login" style="margin-left: 40px; width: 10px; height: 50px;">
              Giriş yap
            </button>
            <li class="nav-item">
      
              <div  *ngIf="userCheck()==true" class="btn-group">
                <button type="button" style="width: 200px; height: 40px; margin-right: 50px;" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  {{user.firstName}} {{user.lastName}}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/user">Kullanıcı Bilgileri</a></li>
                  <li><a class="dropdown-item" routerLink="/card-list">Kayıtlı Kredi Kartları </a></li>
                  
                </ul>
              </div>
              </li>

          
            <li class="nav-item">
            <button  *ngIf="userCheck()==true" class="w-100 btn btn-lg btn-danger" (click)="signOut()" style="margin-right: 10px; width: 10px; height: 50px;">
             Çıkış Yap
            </button>
        
          </li>
          
       
       
        
      </div>
    </div>
  </nav>
