
  <label for="exampleFormControlInput1" class="form-label" style="color: white; font-size: 25px;">Renkler</label>
  <input type="text" [(ngModel)]="filterText"class="form-control" id="filterText" 
  placeholder="Aradığınız Rengi yazın">


<div *ngIf="filterText" class="alert alert-success">
    {{filterText}} aradınız
</div>
 
<br>
   
        <ul class="list-group">
          
            <li (click)="setCurrentColor(color)"
            *ngFor="let color of colors | filterColorPipe:filterText"
            routerLink="/cars/color/{{color.colorId}}"
             [class]=getCurrentColorClass(color)>{{color.colorName}}</li>
            
          </ul>
   
