<div class="card">
    <div class="card-header">
      <h5>Kart Bilgileri</h5>
     </div>

      <div class="card-header">
         <form [formGroup]="paymentForm">
              <label for="firstName"> İsim</label>
              <input type="text"id="carId" formControlName="firstName"
              class="form-control" placeholder="İsim">
          </form>

          <form [formGroup]="paymentForm">
            <label for="lastName"> Soyisim </label>
            <input type="text"id="lastName" formControlName="lastName"
            class="form-control" placeholder="Soyisim">
        </form>
           
        <form [formGroup]="paymentForm">
            <label for="cardNumber">Kart Numarası</label>
            <input type="number" id="cardNumber"  formControlName="cardNumber" 
            class="form-control" placeholder="kart numarası ">
        </form>

        <form [formGroup]="paymentForm">
            <label> Son Kullanım Tarihi (AA/YY)</label>
            <div class="row">
               <div class="col-md-2">
                <input type="number" id="monthOfExpiration"  formControlName="monthOfExpiration" max="12"
                class="form-control" >
               </div>

               <div class="col-md-2">

                <input type="number" id="yearOfExpiration"   formControlName="yearOfExpiration" max="30"
                class="form-control">
               </div>
            </div>
           
        </form>

            
        <form [formGroup]="paymentForm">
            <label for="cVV">CVV</label>
            <input type="text" id="cVV"  formControlName="cVV" 
            class="form-control" placeholder="CVV  ">
        </form>

      </div>
    


    <div class="card-footer">
     
        <button type="button" (click)="paymentCheck()"   class="btn btn-info" data-bs-toggle="modal"  data-bs-target="#exampleModal" > Öde</button>
    </div>
</div>

<table class="table table-secondary table-striped">
    <thead>
        <tr>
         
            <th>İsim & Soyisim</th>
            <th> Kart Numarası</th>
            
            <th> Son kullanma Tarihi(AA/YY)</th>
            <th> CVV </th>
            <th></th>
        </tr>
    </thead>
    
    <tr *ngFor="let creditCard of creditCards">
       
       <td>{{creditCard.firstName}} {{creditCard.lastName}}</td>
        <td>{{creditCard.cardNumber}} </td>
        
        <td> {{creditCard.monthOfExpiration}} / {{creditCard.yearOfExpiration}}</td>
        <td> {{creditCard.cvv}}</td>
        <button type="button"  class="btn btn-info" (click)="paymentCheck()"> Kayıtlı Kart ile Öde</button>
    </tr>
</table>


  

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Kart Kaydedilsin mi ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
          <button type="button" class="btn btn-primary" (click)="addCard()">Evet</button>
        </div>
      </div>
    </div>
  </div>