

<body class="text-center">
    <main class="form-login" >
      <form [formGroup]="registerForm">
        <h1 class="h3 mb-3 fw-normal">Kaydol</h1>
  
        
        <div class="form-floating">
            <input
              formControlName="firstName"
              type="text"
              class="form-control"
              id="firstName"
              placeholder="First Name"
            />
            <label for="floatingInput">İsim</label>
          </div>
          
        <div class="form-floating">
            <input
              formControlName="lastName"
              type="text"
              class="form-control"
              id="lastName"
              placeholder="Last Name"
            />
            <label for="floatingInput">Soyisim</label>
          </div>

        <div class="form-floating">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">E-posta</label>
        </div>

        <div class="form-floating">
          <app-input-form-control formControlName="password"  > </app-input-form-control>
        </div>
 
      
        <button class="w-100 btn btn-lg btn-primary" (click)="register()">
          Kayıt Ol
        </button>
       
      </form>
    </main>
  </body>
  