
<app-filter-car></app-filter-car>



<button  type="button" class="btn-btn-fill btn-success" style="margin-bottom: 20px; margin-top: 20px;" routerLink="/car-add" >Araba Ekle</button>
   
   <br>
   <label for="exampleFormControlInput1" class="form-label">Araba ara</label>
    <input type="text" [(ngModel)]="filterText"class="form-control" id="filterText" 
    placeholder="arama ifadesi giriniz">
 

  <div *ngIf="filterText" class="alert alert-success">
      {{filterText}} aradınız
  </div>

<table class="table table-secondary table-striped">
    <thead>
        <tr>
            <th>CarId</th>
            <th>Car Name</th>
            <th>Brand Name</th>
            <th>Color Name</th>
            <th>model Year </th>
            <th>Daily Price</th>
            <th>Description </th>
            <th>İşlemler</th>
            
        </tr>
    </thead>
    <tr *ngFor="let car of cars| filterCarPipe:filterText" >
        <td>{{car.carId}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
        <button class="btn-btn-fill btn-warning " style="margin-right: 15px; margin-bottom: 5px;"  routerLink="/car-update/{{car.carId}}" >Güncelle</button>
        <button class="btn-btn-fill btn-info"  routerLink="/cars/carId/{{ car.carId }}" >Detay</button>
    </tr>
</table>

